* {
  box-sizing: border-box;
}
#content {
  width: 480px;
  margin: 0 auto;
}
.editor {
  border: 1px solid grey;
  padding: 6px;
}

/*dropdown styles*/
.dropdown {
    display: inline-block;
}

.dropdown__trigger {
    border: 1px solid #ccc;
    border-radius: 16px;
    background-color: rgba(192,192,192,0.1);
    font-size: 90%
}

.dropdown__content {
    display: none;
    position: absolute;
    border: 1px solid grey;
    background-color: rgba(192,192,192,0.1);
    margin-right: 100px;
}

.dropdown--active .dropdown__content {
    display: inline-block;
}
